[2019-07-24 12:11] l0nax opened #1 "Add TLS Support"
Original Issue: [https://github.com/bacongobbler/helm-whatup/issues/6](https://github.com/bacongobbler/helm-whatup/issues/6)

Add TLS Support.

[2019-07-24 17:09] #1 closed

[2019-07-24 20:09] l0nax opened #3 "Add Table/ Grid Output Format"
Add a new Output Format to provide a better overview of all Releases

Example Output:
[code]

[go-pretty](https://github.com/jedib0t/go-pretty) provides the functionality of printing nice formatted Tables.

[2019-07-24 22:11] l0nax commented on #3
Implemented and merged into _develop_

[2019-07-24 22:11] #3 closed

[2019-07-29 22:54] l0nax opened #5 "Fix "GoLint/Indent/IndentErrorFlow" issue in main.go"
if block ends with a return statement, so drop this else and outdent its block

https://codeclimate.com/github/fabmation-gmbh/helm-whatup/main.go#issue_5d3f787be53ce20001000030

[2019-07-30 07:39] l0nax opened #7 "Improve Version Output"
Add Git Commit Hash to Version Information and Improve Version Output.

Example Output:
[code]

[2019-07-31 20:38] l0nax opened #8 "Fix "GoLint/Indent/IndentErrorFlow" issue in main.go"
if block ends with a return statement, so drop this else and outdent its block

https://codeclimate.com/github/fabmation-gmbh/helm-whatup/main.go#issue_5d41f9c4b547280001000031

[2019-07-31 20:38] l0nax commented on #8
Duplicate of #5

[2019-07-31 20:38] #8 closed

[2019-07-31 20:53] l0nax commented on #5
Fixed in 8ce88e8a3dbfc4d702517470905c3ce138b286aa
Merged with PR #9 (9aa2f94145e8ab8fdd1eca43a28c989ae1c02350)

[2019-07-31 20:53] #5 closed

[2019-07-31 21:02] l0nax commented on #8
:-1: :

[2019-11-18 13:13] vdboor opened #10 "Installation fails when HELM_HOME in not set"
I'm trying to install the plugin, but this fails:

[code]

I'm using helm 3, but this issue was also visible on helm 2.

The following fixes some parts of installation on helm 3: `export HELM_HOME=$HOME/Library/helm`

However, actual support on helm 3 appears to be broken.

[2019-11-18 14:01] l0nax commented on #10
Since the "Plugin" must be installed in the `$HELM_HOME/...` Directory, I think the only way to also install it is to use the default Paths `$HOME/.helm/...`

[2019-11-18 17:44] l0nax commented on #10
@vdboor Can you please send me more specific information about the Helm3 problem?

[2019-11-18 17:55] l0nax commented on #10
I fixed the Installation Script but it seems like that the API has changed, so it needs some more work.
Please be patient.

[2019-11-19 08:47] vdboor commented on #10
I only get:

[code]

One of the problems is, that helm doesn't use tiller anymore - while whatup tries to connect with that.

The paths also changed; where helm2 used `~/.helm/`, this is now `~/Library/helm` on OSx and `~/Library/Caches/helm` for temp files. The `helm env` command shows the actual paths.

However, perhaps it would even be more useful to integrate this plugin into the core of helm

[2019-11-19 09:31] l0nax commented on #10
Yes, that is a good idea, I will create an Issue on the helm repository and I will work on a PR to integrate this Feature.

But since the Code should be the same, for the time being, I will update this Plugin to support Helm 3 until the PR gets accepted.

Thanks @vdboor

[2019-11-19 17:44] l0nax commented on #10
@vdboor The implementation is finished and the PR is created (helm/helm#7021)
If you have any Improvements please write them below the PR.

Thanks!

[2019-11-19 17:44] #10 closed

[2019-11-27 09:28] l0nax opened #11 "Support Helm v3"
Since the Pull-Request to merge this Feature into the official helm Client (helm/helm#7021) hasn't been accepted yet, this Plugin should support - _temporary_ (?) - helm v3.

This Issue is related to:
- helm/helm#7014
- #10
and possibly https://github.com/bacongobbler/helm-whatup/issues/23

[2019-12-04 13:09] l0nax commented on #11
Done with version _0.3.0_

[2019-12-04 13:09] #11 closed

[2019-12-10 13:28] vdboor opened #12 "no Auth Provider found for name "gcp""
When using kubectl with Google Cloud Platform, `helm whatup` (latest 0.3 version) doesn't work yet. Likely some go-import is missing that bundles the GCP authentication provider.

[code]

[2019-12-10 13:31] l0nax commented on #12
Can you run whatup with the _debug_ Flag and paste the Output please?

[2019-12-10 13:36] l0nax commented on #12
@vdboor Can you please test if the latest _develop_ Version works for you?
Because I do not have a GCP K8s-Cluster running so I can not test it.

[2019-12-10 21:55] Serk72 commented on #12
I had a very similar issue with:
[code]
and using the develop branch seems to have fixed that issue but if any of the charts I use do not exist in a helm repo I get the error:
[code]

[2019-12-11 09:01] l0nax commented on #12
Thanks @Serk72 for testing it, I will soon release a new Version (_v0.3.1_).

And about your Error

This is because you need an Repository which contains the Helm-Chart so `whatup` can check if there's a newer Version. If do not have a self-hosted Helm-Repository you can also use "local" Helm-Repositories.
But - if you want to - create a seperat Issue so we can discuss future details if you (eg.)

[2019-12-11 09:54] sonatype-depshield[bot] opened #13 "[DepShield] (CVSS 5.9) Vulnerability due to usage of golang.org/x:crypto:0.0.0-20190211182817-74369b46fc67"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:crypto:0.0.0-20190211182817-74369b46fc67](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/crypto@0.0.0-20190211182817-74369b46fc67) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-11840]  Use of Insufficiently Random Values](https://ossindex.sonatype.org/vuln/5121f5ff-9831-

[2019-12-11 09:54] sonatype-depshield[bot] opened #14 "[DepShield] (CVSS 5.9) Vulnerability due to usage of golang.org/x:crypto:0.0.0-20180904163835-0709b304e793"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:crypto:0.0.0-20180904163835-0709b304e793](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/crypto@0.0.0-20180904163835-0709b304e793) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-11840]  Use of Insufficiently Random Values](https://ossindex.sonatype.org/vuln/5121f5ff-9831-

[2019-12-11 09:54] sonatype-depshield[bot] opened #15 "[DepShield] (CVSS 5.9) Vulnerability due to usage of golang.org/x:crypto:0.0.0-20181203042331-505ab145d0a9"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:crypto:0.0.0-20181203042331-505ab145d0a9](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/crypto@0.0.0-20181203042331-505ab145d0a9) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-11840]  Use of Insufficiently Random Values](https://ossindex.sonatype.org/vuln/5121f5ff-9831-

[2019-12-11 09:54] sonatype-depshield[bot] opened #16 "[DepShield] (CVSS 7.5) Vulnerability due to usage of github.com/miekg:dns:0.0.0-20181005163659-0d29b283ac0f"
**Vulnerabilities**

DepShield reports that this application's usage of [github.com/miekg:dns:0.0.0-20181005163659-0d29b283ac0f](https://ossindex.sonatype.org/component/pkg:golang/github.com/miekg/dns@0.0.0-20181005163659-0d29b283ac0f) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2017-15133]  Uncontrolled Resource Consumption ("Resource Exhaustion")](https://ossindex.sonatype

[2019-12-11 09:54] sonatype-depshield[bot] opened #17 "[DepShield] (CVSS 5.9) Vulnerability due to usage of golang.org/x:crypto:0.0.0-20190308221718-c2843e01d9a2"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:crypto:0.0.0-20190308221718-c2843e01d9a2](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/crypto@0.0.0-20190308221718-c2843e01d9a2) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-11840]  Use of Insufficiently Random Values](https://ossindex.sonatype.org/vuln/5121f5ff-9831-

[2019-12-11 09:54] sonatype-depshield[bot] opened #18 "[DepShield] (CVSS 8.6) Vulnerability due to usage of github.com/opencontainers:runc:0.1.1"
**Vulnerabilities**

DepShield reports that this application's usage of [github.com/opencontainers:runc:0.1.1](https://ossindex.sonatype.org/component/pkg:golang/github.com/opencontainers/runc@0.1.1) results in the following vulnerability(s):

- (CVSS **8.6**) [[CVE-2019-5736]  Containment Errors (Container Errors)](https://ossindex.sonatype.org/vuln/d089f726-f419-4e72-ab60-05be37d02b68)

<hr />

[2019-12-11 09:57] #18 closed

[2019-12-11 09:57] l0nax commented on #17
This is part of Helm

[2019-12-11 09:57] #17 closed

[2019-12-11 09:58] #16 closed

[2019-12-11 09:58] #15 closed

[2019-12-11 09:58] #14 closed

[2019-12-11 09:58] #13 closed

[2019-12-11 10:39] vdboor commented on #12
Yes, your change fixed the issue! :-D

FYI, my kubeconfig has the following cluster users:

[code]

that's where the `gcp` auth provider came from.

[2019-12-11 10:39] #12 closed

[2019-12-11 11:40] l0nax commented on #12
Ah okay, thanks for clarifying it @vdboor

[2019-12-11 16:27] l0nax commented on #12
I've released a new (official) Version: [_v0.3.1](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.3.1).

Sorry for that delay.

[2019-12-12 11:59] ms32035 opened #19 "Installation failure"
In the shell script you have inconsistent usage of `HELM_PLUGIN_PATH` and `HELM_PLUGIN_DIR` and as a result, the plugin does not install.

[2019-12-12 13:12] l0nax commented on #19
@ms32035 Can you please provide more Informations?

[2019-12-12 13:21] l0nax commented on #19
As you can see in Line 13 in the [install-binary.sh](https://github.com/fabmation-gmbh/helm-whatup/blob/master/install-binary.sh) script
https://github.com/fabmation-gmbh/helm-whatup/blob/7a398c328984aaf913504cf06dd94e92662f314e/install-binary.sh#L13

The environment variable `HELM_PLUGIN_PATH` is defined here, but it is not used anymore in the script – it will be removed with the next release –.

[2019-12-12 16:45] ms32035 commented on #19
It's a combination of install and update that causes the issue. I am on helm 3.0.1. Have a look at the log:
[code]

After installing, the plugin works, but update seems to break it

[2019-12-13 06:33] l0nax commented on #19
Ok this helps understanding the problem.

But one thing: Please _do not_ call the _install-binary.sh_ manually.

[2019-12-17 15:04] l0nax commented on #19
@ms32035 I'm closing this Issue because it seems that the problem has been solved.
Feel free to re-open it if you have problems

[2019-12-17 15:04] #19 closed

[2020-01-10 09:26] HungUnicorn opened #20 "Show example output for USAGE in README"
README shows the usage
https://github.com/fabmation-gmbh/helm-whatup/blob/master/README.md#usage

It would be better to provide some/one example output after running `helm whatup`

[2020-01-10 10:57] l0nax commented on #20
Will be an asciinema Record also be okay? @HungUnicorn
Because it shows more than "only" an Output.

[2020-01-10 12:37] l0nax commented on #20
Done with 5ac0113df04fdc380b563ac53e7b1177e269056e

[2020-01-10 12:37] #20 closed

[2020-01-10 15:53] ckotzbauer opened #21 "Charts of different repos are mixed"
Hi,
thanks for developing this fork until the feature is merged to core!

I found a bug, when a chart with the same name is part of multiple added repos. The logic seems to "mix" the charts and shows a update for a installed release where no never version is available.

Example:

I have the following repos configured:
[code]

I installed the "minio" chart from the "bitnami" repo:
[code]

The newes

[2020-01-13 17:56] l0nax commented on #21
First of all: I'm sorry for my late answer.

I can add a flag (which will be enabled by default) to only search in repositories where the Chart was installed. I don't want to completely remove this "feature" because I want also to check if there are other Charts that are newer and then eventually check out if my current repository is deprecated/ not maintained anymore.

[2020-01-13 18:23] ckotzbauer commented on #21
@l0nax No problem, thanks for your answer!

Well, that's a good point. The problem is, that the chart versions often not match the app versions. So it is hard to figure out (automatically) if another chart is deprecated or not.
But I think a flag with this default-setting is a good tradeoff :+1:

[2020-01-13 19:38] l0nax commented on #21
I don't think that this is a Problem because it intended to be so because they describe different types of Software. The _Chart-Version_ describes the current version of the Helm-Chart and the _App-Version_ describes the current version of the Application which will be served by this Helm-Package.

To figure out automatically if a Chart(-Repository) is deprecated or serves a deprecated version of

[2020-01-14 09:03] ckotzbauer commented on #21
Maybe something like this would be good:
[code]
This would solve the following aspects:
- You see which repository is used for the current installation
- When were the charts published
- Which appVersion they serve (if this is really set correctly)

With the last two points everybody can decide on its own if the chart is maybe deprecated, too old or something else... This prevents us from marking

[2020-01-14 17:17] l0nax commented on #21
I think instead of "merging" that Information where we have only one repository which serves the Chart and those where we have multiple Chart repositories we should create an output like this:

[code]

And combining this with a Config/ ENV vars to disable it completely (or even better: showing only a hint) would be a better idea.

What do you think about this @code-chris ?

[2020-01-14 18:16] ckotzbauer commented on #21
I like this idea too. All charts where the user only have to update are displayed at the top and others which may require additional actions have a more detailed output.
This should be configurable with ENVs or flags, yes.... :+1:

[2020-01-14 18:29] l0nax commented on #21
Ok, I will work on it ASAP.

[2020-01-21 16:51] l0nax commented on #21
I'm now starting implementing this Feature/ solving the Problem :D

[2020-01-21 17:02] l0nax commented on #21
Current branch: https://github.com/fabmation-gmbh/helm-whatup/tree/feature/21_charts-of-different-repos-are-mixed

[2020-03-03 13:22] #7 closed

[2020-05-03 11:09] orefalo opened #25 "Custom chart fail the whole lookup"
Love this plugin, it's handy

I have a namespace with a mix of OOB and custom charts, the whatup process fails with:

**ERROR: Could not initialize search index: Could not find any Repo which contains vectorError: plugin "whatup" exited with error**

"vector" is a custom chart I built.

Expected behavior: skill the problematic chart and process the next.

[2020-05-07 18:46] KevinKeo opened #26 "Dockerfile install"
Hi,

I am running helm inside a container.
I do succeed in installing :
 helm plugin install https://github.com/chartmuseum/helm-push

But for the plugin whatup, I got that strange error and I had no clue..
[code]

I am just doing a RUN helm plugin install https://github.com/fabmation-gmbh/helm-whatup

The plugin are indeed installed in /root/.local/share/helm/plugins/helm-whatup/bin/  but when us

[2020-05-15 11:13] mfamador commented on #25
If you use it with `--ignore-repo` it will get you through it.

[code]
Note that it only shows the outdated charts, which is not the same behaviour as the original plugin.

[2020-08-11 08:27] l0nax commented on #26
I'm sorry for the late answer.

Would it be possible if you share your `Dockerfile`?

[2020-08-11 08:38] l0nax commented on #25
I'm sorry for my late answer.

As @mfamador you can use the `--ignore-repo` flag.

Did I understand it correctly that the `vector` helm chart is one which you've created locally and are installing it with `helm install ./vector […]`?

Would it help you if those flags would be configurable via environment variables, so you do not have to pass them every time manually?

[2020-08-11 11:16] l0nax commented on #21
Hey @ckotzbauer, sorry for taking so long to implement it, but I now found some time and the first alpha "version" is ready to be tested.

Would it be able for you to pull (and checkout) the `feature/21_charts-of-different-repos-are-mixed` repository, build, install, and test it?

Currently, the output does looks like:
[code]

[2020-08-11 12:29] ckotzbauer commented on #21
@l0nax  I'll give it a try yes! 😅

[2020-08-12 08:21] l0nax commented on #25
You can now set the `HELM_WHATUP_IGNORE_REPO=true` environment variable so you do not have to add the `--ignore-repo` flag every time you are using the plugin.

[2020-08-12 08:24] l0nax commented on #26
The `no such file or directory` does mean that some libraries (probably glibc) aren't found/ installed on your system.

For the future releases I will link the binaries _statically_, this should fix your error.

[2020-08-12 09:10] #26 closed

[2020-08-12 09:14] l0nax commented on #25
With version _v0.4.0_ this should be fixed.

Feel free to re-open or create a new Issue if your problem hasn't been resolved.

[2020-08-12 09:14] #25 closed

[2020-08-12 09:14] l0nax commented on #26
With version v0.4.0 this should be fixed.

Feel free to re-open or create a new Issue if your problem hasn't been resolved.

[2020-08-12 09:16] sonatype-depshield[bot] opened #29 "[DepShield] (CVSS 7.5) Vulnerability due to usage of github.com/gorilla:websocket:1.4.0"
**Vulnerabilities**

DepShield reports that this application's usage of [github.com/gorilla:websocket:1.4.0](https://ossindex.sonatype.org/component/pkg:golang/github.com/gorilla/websocket@1.4.0) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-190: Integer Overflow or Wraparound](https://ossindex.sonatype.org/vuln/5f259e63-3efb-4c47-b593-d175dca716b0)

<hr />

**Occurrences**

gi

[2020-08-12 09:16] sonatype-depshield[bot] opened #30 "[DepShield] (CVSS 7.5) Vulnerability due to usage of github.com/gorilla:websocket:0.0.0-20170926233335-4201258b820c"
**Vulnerabilities**

DepShield reports that this application's usage of [github.com/gorilla:websocket:0.0.0-20170926233335-4201258b820c](https://ossindex.sonatype.org/component/pkg:golang/github.com/gorilla/websocket@0.0.0-20170926233335-4201258b820c) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-190: Integer Overflow or Wraparound](https://ossindex.sonatype.org/vuln/5f259e63-3

[2020-08-12 09:16] sonatype-depshield[bot] opened #31 "[DepShield] (CVSS 5.9) Vulnerability due to usage of golang.org/x:crypto:0.0.0-20190325154230-a5d413f7728c"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:crypto:0.0.0-20190325154230-a5d413f7728c](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/crypto@0.0.0-20190325154230-a5d413f7728c) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-11841]  Cryptographic Issues](https://ossindex.sonatype.org/vuln/01142a7e-4766-4863-983b-898ab

[2020-08-12 09:17] orefalo commented on #25
Sorry for late reply, tks a bunch.
I would argue: the flag should be ON by default

[2020-08-12 09:18] l0nax commented on #25
Okay, I will enable it and release _v0.4.1_.

[2020-08-12 09:24] l0nax commented on #25
Version [_0.4.1_](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.4.1) has been released so the `--ignore-repo` flag is enabled by default.

Thanks for opening this issue and for your patience @orefalo :+1:

[2020-08-12 09:27] l0nax commented on #29
Closing as `Won't fix` because it's not a "real thread" and this has to be fixed by the `helm` package.

[2020-08-12 09:27] #29 closed

[2020-08-12 09:27] l0nax commented on #30
Closing as `Won't fix` because it's not a "real thread" and this has to be fixed by the `helm` package.

[2020-08-12 09:27] #30 closed

[2020-08-12 09:27] l0nax commented on #31
Closing as `Won't fix` because it's not a "real thread" and this has to be fixed by the `helm` package.

[2020-08-12 09:27] #31 closed

[2020-08-12 09:53] orefalo commented on #25
cool , tks!

[2020-08-14 14:32] ckotzbauer commented on #21
@l0nax I just tested it and it looks good. Thank you! :+1:

[2020-08-21 20:39] docwhat opened #32 "--version doesn't work"
It looks like `showVersion` isn't hooked up to anything.

[2020-09-01 12:43] l0nax commented on #32
I'm sorry for my late answer, I was on vacation and wasn't able to respond.

With [version v0.4.2](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.4.2) the plugin version will be printed when executing `helm whatup --version`.

[2020-09-01 12:43] #32 closed

[2020-09-01 12:44] l0nax commented on #21
@ckotzbauer Does the feature work for you? If so, can we then close this issue?

[2020-09-01 13:04] ckotzbauer commented on #21
I think we can close this

[2020-09-01 13:04] #21 closed

[2020-10-22 13:20] gerchardon opened #33 "Output json doesn't show when a chart is on multiple repository"
[code]

and with `-o json`:
[code]

[2020-10-22 15:08] l0nax commented on #33
I will fix this ASAP.

[2020-10-23 11:20] l0nax commented on #33
How important/ critical is this feature for you @gerchardon?
Because I have to prioritize some of my issues.

[2020-10-23 19:11] gerchardon commented on #33
Not so much with table I can use it but i use jq to show/filter better result

[2020-10-26 07:15] #33 closed

[2020-10-26 07:17] l0nax commented on #33
Fixed with version [v0.4.3](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.4.3).

[2020-12-24 06:25] digitalronin opened #34 "Installation fails unless bash is installed"
Hi there

Installing helm and this plugin into a docker image, I was getting this error when installing the plugin:

[code]
The "not found" refers to `/bin/bash` which I didn't have installed.

If the `install-binary.sh` script could use `/bin/sh` instead of bash, it would avoid the extra step of installing bash in docker images. I know it's not particularly difficult, but it confused me for a lit

[2020-12-30 16:43] l0nax commented on #34
Would it be possible for you to _temporarily_ install `bash`?

[2020-12-31 00:55] digitalronin commented on #34
Sure, but my point is that it's unnecessary.

[2021-01-22 07:33] stevehipwell opened #35 "Default output shows deprecated charts"
The current output shows charts that have been deprecated and there isn't a flag to hide them, this wasn't such a big deal before stable was deprecated but now it makes the output very noisy and requires more documentation around how to interpret the results.

My personal preference would be for a flag to show deprecated charts with the default behaviour being to not show them.

FYI I really appre

[2021-01-22 07:41] stevehipwell opened #36 "Update definition"
Could you please confirm for me which version is being used when looking at updates and how they results are sorted?

As a starting offer I would expect an update to be defined as an update to the current chart or a newer application version available in another chart. This would be correct in my opinion as the chart version only has a relationship to itself, while the app version is the primary d

[2021-01-22 07:48] stevehipwell opened #37 "Output formatting"
The current output formatting for charts with multiple repos isn't particularly easy to grok due to the separator only being three characters `---` and the blank line in the middle of the block appearing to be the separator. If the separator could be extended in length to at least the length of the header that would be great and it might be worth considering a line break after each block.

It woul

[2021-01-27 12:29] l0nax commented on #37
I've implemented the longer separator _and_ fixed the typo.

And the highlighted installed version, in the table, will be implemented soon.

[2021-01-27 12:42] stevehipwell commented on #37
Thanks @l0nax that's great!

[2021-01-27 13:19] l0nax commented on #37
I already tried to implement the functionality to show the user from which Chart repository the release has been installed.

But this is, out of the box, not possible.

The installed _releases_ are returned as [`*release.Release`](https://pkg.go.dev/helm.sh/helm/v3/pkg/release#Release) and this struct does not have a field where it is possible to find out which Chart exactly has been installed.
Th

[2021-01-27 13:27] l0nax commented on #36
The `Installed Version` and `Latest Version` do hold the _Chart version_.
The sorting is done by _helm_ itself, and _helm_ does sort by the release name.

Would it help you if we change `Installed Version` to `Installed Chart Version`?

[2021-01-27 13:34] stevehipwell commented on #37
I'd settle for a fuzzy match on `version` and `appVersion` where all possible charts are starred as a MVP; usually this would be good enough I think. Would this make the process easier?

[2021-01-27 13:43] l0nax commented on #37
It could be that multiple charts do have the same _Chart and App Version_, which will then result in multiple Chart repositories marked as "installation source".

[2021-01-27 14:35] stevehipwell commented on #37
I think it would be a step in the right direction even if not a perfect solution.

[2021-01-27 14:44] stevehipwell commented on #36
I think that fundamentally the app version is the important data point here, chart version is only informative where the user understands the context of the chart.

[2021-01-27 15:02] stevehipwell commented on #36
For example take the following real output.

[code]
I **know** that the correct answer to which update is needed is the `fluent` chart (it's the official chart and the latest _fluent-bit_ version is _v1.6.10_) is but the numbers might suggest otherwise. The only automated logic that would apply here is that it's the currently installed chart (https://github.com/fabmation-gmbh/helm-whatup/issues/37

[2021-01-27 15:03] l0nax commented on #35
Implemented in commit a48a5f9be32289620bcdfa278c576a176df7b224

[2021-01-27 15:08] stevehipwell commented on #35
Thanks @l0nax I think I mentioned this in another issue, please ignore it there.

[2021-01-27 15:11] l0nax commented on #36
I added `INSTALLED APP VERSION` to the top group (implemented in 65955ee2c8a553801f93f7350a8678b1095a0dc6):
[code]

[2021-01-27 15:17] l0nax commented on #36
We do have the same problem as in #37. There is no reference to the repository from where the chart has been installed.

[2021-01-27 15:37] stevehipwell commented on #36
I agree that #37 would need to be implemented to do anything more about this, and it would only help if there was a single "match".

Your example above is a common one and the MVP solution for #37 would give you a single "match" and thus single line output.

I feel that this is an issue with Helm, I'd like to see the source (actual remote repo url or file constant) and checksum stored in the Helm

[2021-01-27 18:10] l0nax commented on #37
I've implemented it as described by you (https://github.com/fabmation-gmbh/helm-whatup/issues/37#issuecomment-768288288) and it looks like this:

![Screenshot_20210127_190803](https://user-images.githubusercontent.com/29659953/106034395-2b8da080-60d3-11eb-8ee7-ea66a74fc17b.png)

Currently, this feature is marked as _beta_ and can be enabled by adding the `--color` flag to the command **OR** by exp

[2021-01-27 18:12] stevehipwell commented on #37
This looks great!!

[2021-01-27 18:13] l0nax commented on #37
The changes have been merged onto `develop`.

[2021-01-27 18:13] l0nax commented on #37
I will create a new release so you can test it.

[2021-01-27 18:15] #34 closed

[2021-01-27 18:15] #35 closed

[2021-01-27 18:15] #37 closed

[2021-01-27 18:17] l0nax commented on #37
@stevehipwell Version [v0.5.0](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.5.0) has been released. Can you please update the plugin and test if everything works fine for you?

[2021-01-27 18:18] l0nax commented on #36
I think this has been fixed. Can we close it @stevehipwell?

[2021-01-27 18:49] stevehipwell commented on #37
Thanks @l0nax I'll give this a try in the morning.

[2021-01-27 18:50] stevehipwell commented on #36
I think so, I'll test in the morning but happy for you to close first.

[2021-01-28 09:31] stevehipwell commented on #36
@l0nax I get the following errors during the upgrade.

Before:
[code]

After:
[code]

[2021-01-28 09:35] l0nax commented on #36
I think I know why this is happening

[2021-01-28 09:37] l0nax commented on #36
@stayleen what do you mean with _After_ and _Before_?

[2021-01-28 09:45] l0nax commented on #36
@stevehipwell What version of `whatup` do you have installed?

[2021-01-28 09:49] stevehipwell commented on #36
@l0nax before and after the download output. I was on `v0.4.3` and upgraded to `v0.5.0`.

[code]

[2021-01-28 09:51] l0nax commented on #36
But version v0.5.0 is now installed?

[2021-01-28 11:07] stevehipwell commented on #36
@l0nax it is installed but the output seems to be incorrect, specifically around my _fluent-bit_ example from above. Stable is deprecated but is showing here as not, aws is missing, my installed version is 1.6.10 and stable is highlighted green not fluent.

[code]

[2021-01-28 12:38] l0nax commented on #36
@stevehipwell The `stable` bug has been fixed with 2fade326a0cd75df5406b0b415437c1242a67af3 (check out the commit summary if you want to understand the bug).

Can you please take a screenshot?

[2021-01-28 12:43] stevehipwell commented on #36
@l0nax screenshot as requested.

![image](https://user-images.githubusercontent.com/6552347/106140153-4bba6f80-6166-11eb-82cb-707101c6e2ed.png)

[2021-01-28 12:43] l0nax commented on #36
@stevehipwell Can you please install the _development_ version, re-run `whatup` and post the Screenshot?

[2021-01-28 13:06] stevehipwell commented on #36
@l0nax is there a development binary or do I need to build from source?

[2021-01-28 13:23] l0nax commented on #36
I'm sorry. I had to eat something.

You can compile the development version as described in the [README.md](https://github.com/fabmation-gmbh/helm-whatup#developer-from-source-install).

Or I can upload the compiled version for you if you want.

[2021-01-28 13:27] stevehipwell commented on #36
@l0nax either way would work, if you upload a version I'll be able to test pretty much immediately otherwise I'll probably need to wait until I have time to setup a build.

[2021-01-28 13:30] l0nax commented on #36
[helm-whatup-0.5.1-beta-linux-amd64.tar.gz](https://github.com/fabmation-gmbh/helm-whatup/files/5887454/helm-whatup-0.5.1-beta-linux-amd64.tar.gz)
[helm-whatup-0.5.1-beta-darwin-amd64.tar.gz](https://github.com/fabmation-gmbh/helm-whatup/files/5887457/helm-whatup-0.5.1-beta-darwin-amd64.tar.gz)

[2021-01-28 15:25] stevehipwell commented on #36
@l0nax I'm getting the following error, I had to remove the plugin before I could get this far.

[code]

[2021-01-28 15:32] l0nax commented on #36
I know this is a dumb question but is `/bin/sh` working for you?

[2021-01-28 15:41] stevehipwell commented on #36
@l0nax yes it. I've added the `ls` output for the extracted tar. I don't see an install script?

[code]

[2021-01-28 15:45] l0nax commented on #36
Wait a moment.

Did you compile the application on your own or did you use the binaries provided with https://github.com/fabmation-gmbh/helm-whatup/issues/36#issuecomment-769053674?

[2021-01-28 15:47] stevehipwell commented on #36
Binaries provided after extracting the tar, but I could have done this wrong

[code]

[2021-01-28 15:49] l0nax commented on #36
`helm install` will not work – since the `install-binary.sh` script is not packed with the tar archives.
You have to manually copy the binary to `$HOME/.local/share/helm/plugins`

Or just add the `install-binary.sh` script to `/tmp/helm-whatup`

[2021-01-28 15:53] stevehipwell commented on #36
Thanks @l0nax I've put a screenshot of the dev output (it is reporting at v0.5.0) which looks the same.

![image](https://user-images.githubusercontent.com/6552347/106163372-fe97c700-6180-11eb-9ccd-bd0b12d18fd7.png)

[2021-01-31 10:34] aspettl opened #38 "Warnings should be written to stderr"
Currently, warnings are written to stdout. This is not a good idea because the output (which can be configured to be yaml or json) is then invalid.

**Current behavior**, example:
[code]

This makes workarounds like https://github.com/aspettl/docker-helm-outdated/blob/f8a3d10ae32fdd7790867fcf1c293c27ab9cb97b/run.sh#L53 necessary.

**Expected behavior:**
Warnings and errors should be written to std

[2021-02-01 07:48] l0nax commented on #36
@stevehipwell The version should be `v0.5.1-beta`. Would it be possible for you to install the plugin from sources?

[2021-02-01 07:54] #38 closed

[2021-02-01 07:56] l0nax commented on #36
Because of #38 i've released [v0.5.1](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.5.1).

So you can simply update the plugin.

[2021-02-01 07:57] l0nax commented on #38
I've released [v0.5.1](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.5.1), which will print the warnings to `/dev/stderr`.

[2021-02-01 08:36] stevehipwell commented on #36
@l0nax I've installed `v0.5.1` and I'm seeing a number of issues, but it looks like it's down to the repo detection.

- Non-deterministic current repo highlighting (two concurrent runs show's different output)
- Incorrect current app version (both in single line and multi-repo view)
- Incorrect upgrade repo (miss match of app version, chart version and repo)

The following image shows the first tw

[2021-02-01 09:03] l0nax commented on #36
Fixed with f57902464f8e05800183d49d27d8c8dc58f7ad29

This is the problem I described in https://github.com/fabmation-gmbh/helm-whatup/issues/37#issuecomment-768279818.
If two repositories share the _same_ chart version for the _same_ app version, we cannot find the _real_ chart repository from where the Chart has been installed from.

What do you exactly mean by that?

Version _v0.5.2_ has been re

[2021-02-01 09:16] stevehipwell commented on #36
This appears to have been fixed with `v0.5.2`.

These chart's don't share the same sets of app and chart versions but the highlighting is still incorrect on some runs. The repo order is also non-deterministic, it's not always the highlighted repo on top, nor is it alphabetic order.

I have a chart installed that has it's official repo (low versions) and a deprecated set of charts in another repo (

[2021-02-01 09:27] l0nax commented on #36
@stevehipwell Which chart and app version do you have installed for your `fluent-bit` deployment?

[2021-02-01 09:37] stevehipwell commented on #36
@l0nax I have chart `fluent-bit-0.8.2` installed which has an app version of `1.6.10` and is installed from https://fluent.github.io/helm-charts/.

The chart causing the third issue is `descheduler-0.20.0` with app version `0.20.0` installed from https://kubernetes-sigs.github.io/descheduler/. The deprecated _descheduler_ chart in https://stevehipwell.github.io/helm-charts/ is being given as the u

[2021-02-01 09:45] l0nax commented on #36
I've improved the source repository search function in ec5bc6031942df8d3ed1ac925a034a406eb298da.

Can you post a screenshot of the `helm whatup` output, please?

[2021-02-01 10:06] stevehipwell commented on #36
![image](https://user-images.githubusercontent.com/6552347/106444009-1dde6f00-6475-11eb-8682-9553b3bdb2db.png)

[2021-02-02 10:09] l0nax commented on #36
@stevehipwell With version _v0.5.3_ all those bugs should be fixed. I'm sorry for the inconvenience.

[2021-02-02 10:19] stevehipwell commented on #36
@l0nax there is no need to apologise, I appreciate all the work you've done with this plugin.

Unfortunately I'm still seeing issues with my output.

![image](https://user-images.githubusercontent.com/6552347/106585862-b4776280-653f-11eb-9bab-c78e4c2f7e85.png)

- The `deschduler` chart isn't from the `stevehipwell` repo, these repos don't have overlapping versions
- The `fluent-bit` chart isn't fr

[2021-02-02 10:31] stevehipwell commented on #36
Possibly worth pointing out that `metrics-server` is the deprecated chart from the old `stable` repo.

[2021-02-02 10:33] l0nax commented on #36
I think we should add a flag to enable/disable suggestions for a new repo.

**Or** we should, at least, inform the user that the chart from the source repository is marked as _deprecated_.

[2021-02-02 10:38] stevehipwell commented on #36
I'd vote for flagging as deprecated and showing the multi line output.

[2021-02-02 10:53] l0nax commented on #36
To support this, I have to rewrite big parts of the plugin. And it may break some tools that use, i.e., the JSON output.

[2021-02-02 10:56] stevehipwell commented on #36
@l0nax what about solving the bug with the `fluent-bit` and `descheduler` charts first? I can live with the current behaviour for deprecated charts like `metrics-server`.

[2021-02-02 10:57] l0nax commented on #36
I will solve it, one moment please.

[2021-02-02 11:04] l0nax commented on #36
@stevehipwell, will you be able to install the plugin from sources? Because I want first to make sure that this works before making a new release.

[2021-02-02 11:12] stevehipwell commented on #36
@l0nax I should be able to.

[2021-02-02 11:30] l0nax commented on #36
@stevehipwell I've pushed the fix to `develop`. Can you please test it?

[2021-02-02 12:18] stevehipwell commented on #36
@l0nax that looks to have fixed it.

![image](https://user-images.githubusercontent.com/6552347/106599302-cad9ea00-6550-11eb-994b-c8bb21817965.png)

[2021-02-02 15:56] l0nax commented on #36
With [v0.5.4](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.5.4) the fixes have been released.

[2021-02-02 17:09] stevehipwell commented on #36
Thanks @l0nax. There is still one outstanding query, my GitLab chart (https://charts.gitlab.io/) is showing up as deprecated but it isn't.

![image](https://user-images.githubusercontent.com/6552347/106635947-536c8080-6579-11eb-87fa-69283c14c1bb.png)

[2021-02-03 09:26] l0nax commented on #36
@stevehipwell What chart version do you have installed? Because `hem whatup` does not print this message for our gitlab deployment.

[2021-02-03 09:40] stevehipwell commented on #36
@l0nax `gitlab-4.8.1` which is one off the latest (`gitlab-4.8.2`).

[2021-02-03 09:40] l0nax commented on #36
Can you paste the output of `helm --debug whatup` please?

[2021-02-03 10:07] stevehipwell commented on #36
[code]

[2021-02-03 12:03] l0nax commented on #36
The reason for this behavior is because version `0.1.9` has been marked as `deprecated`.

I will fix this, but I thought that if someone does mark a chart as _deprecated_, no one will use the chart anymore, and the author shouldn't revert this decision.

[2021-02-03 12:12] stevehipwell commented on #36
@l0nax I agree that would have been my expected logic but it appears that some charts authors have a different idea. Do they only have the one version deprecated?

[2021-02-03 12:12] l0nax commented on #36
Yes, only version `0.1.9` has been marked deprecated.

[2021-02-03 12:43] stevehipwell commented on #36
I've just looked up the Helm docs and it looks like we're [mistaken](https://helm.sh/docs/topics/charts/#deprecating-charts).

[2021-02-03 13:03] l0nax commented on #36
Oh, that's interesting.

[2021-02-03 13:05] l0nax commented on #36
@stevehipwell, can you please test the latest development version?

[2021-02-03 14:34] stevehipwell commented on #36
Thanks @l0nax the development version is working correctly.

[2021-02-10 08:22] stevehipwell commented on #36
@l0nax when do you think you will be releasing this?

[2021-02-11 10:31] l0nax commented on #36
@stevehipwell Released.

I'm going to close this issue now. Feel free to reopen it or create a new one. :+1:

[2021-02-11 10:31] #36 closed

[2021-02-11 10:38] stevehipwell commented on #36
Thanks @l0nax!

[2021-06-25 08:19] mogensen opened #39 "Info about latest Helm chart is deprecated"
When running `helm whatup` we can get a `warning` in stderr if `helm-whatup` identifies that the latest version of a used helm chart is marhed as deprecated.
I would love to have this info available in the json output.

Warning when running with `-ignore-deprecation=true`
![image](https://user-images.githubusercontent.com/592710/123393166-1fccda00-d59e-11eb-981e-628866287af8.png)

Release info whe

[2021-08-13 16:37] l0nax commented on #39
@mogensen I'm sorry for my late response. The latest release ([v0.6.1](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.6.1)) fixed that issue.

If your problem persists with the new version, feel free to re-open this issue.

[2021-08-13 16:37] #39 closed

[2022-01-17 16:45] prikesh-patel opened #40 "Plugin install failed"
I am trying to install the helm-whatup plugin on an M1 Macbook. When running the install command I get the following error

[code]

Is this plugin compatible with M1 Macbooks?

[2022-01-18 11:41] l0nax commented on #40
Hey, we didn't compile and publish the plugin for `darwin/arm64`.
I added the binary file for version `v0.6.1`.

Could you please retry to install the plugin?

[2022-01-18 12:00] prikesh-patel commented on #40
I'm still getting the error

[code]

I'm running the `helm plugin install https://github.com/fabmation-gmbh/helm-whatup` command.

[2022-01-18 12:08] l0nax commented on #40
Oh, I made a mistake – I'm sorry. Please try it again.

[2022-01-18 12:12] prikesh-patel commented on #40
Still getting the same error!

[code]

[2022-01-18 12:20] l0nax commented on #40
I'm sorry for the inconvenience.

Fixed with release [v0.6.3](https://github.com/fabmation-gmbh/helm-whatup/releases/tag/v0.6.3).

[2022-01-18 13:35] prikesh-patel commented on #40
That's alright! But I'm getting a slightly different error now

[code]

[2022-01-18 13:49] l0nax commented on #40
Could you please run the command with the `--debug` flag set and post the output?

`helm --debug plugin install https://github.com/fabmation-gmbh/helm-whatup`

[2022-01-18 14:12] prikesh-patel commented on #40
The error has a different output for an unknown reason, but here is the `--debug` output.

[code]

[2022-01-18 14:23] l0nax commented on #40
Ok, thanks, this is very useful.

The bug is fixed with d05fe35b44d92513544a73f3bca7c9bfe416382c.

[2022-01-18 14:34] prikesh-patel commented on #40
That works for me now thank you! The plugin gets installed and I am able to run a `helm whatup`

Thanks for your help

[2022-01-18 14:49] #40 closed

[2022-11-09 16:19] talalong opened #41 "Plugin install failed part 2"
I installed helm using `brew` and I am getting this error when I was trying to install `whatup`.

[code]
The plugin should be working well with the Apple M1 chip, right? see https://github.com/fabmation-gmbh/helm-whatup/issues/40

[2022-11-10 16:37] l0nax commented on #41
Yes, it should work with the Apple M1 chip.

It seems like the plugin is getting installed and it even is able to execute it – the first string of the description is printed.

Could you please post the output if you execute the following commands:
* `helm plugin list`
* `helm version`
* `helm --debug whatup`

[2022-11-11 09:11] talalong commented on #41
Here is what I got:

[code]

[2022-11-11 09:13] l0nax commented on #41
Does the `helm diff` plugin work?

[2022-11-11 10:40] talalong commented on #41
I got this when running `diff`

Error: Failed to get release gitlab in namespace gitlab: exit status 1: Error: Kubernetes cluster unreachable: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1"

[2022-11-14 15:42] l0nax commented on #41
It seems like the plugins works fine, but something else, either `helm` or, i.e., the autocompletion of your shell causing this type of error.

What type of shell are you using and can you recreate this behavior in `bash` or `sh`?

[2022-11-14 16:20] talalong commented on #41
I am using sh (zsh) but switching to bash doesn't help as well. I still got the same error.
[code]

[2022-11-14 16:30] l0nax commented on #41
The error is printed from the `github.com/containerd/containerd` package (https://github.com/containerd/containerd/blob/v1.6.6/platforms/cpuinfo.go#L100), and it seems like the `darwin` check https://github.com/containerd/containerd/blob/v1.6.6/platforms/cpuinfo.go#L82 does not work.

Could you provide the output of `go env` please?

[2022-11-15 11:42] talalong commented on #41
Here is the output:

[code]

[2022-11-16 10:06] l0nax commented on #41
The only think I can do is to update the `helm` dependency.

[2022-11-16 11:13] talalong commented on #41
So running `helm dependency update` does not work for me as well, because I don't have the Chart.yaml file. However running `helm whatup --all-namespaces --all` did give me the result (including the error) that I wanted. see the output

[code]
So I would just ignore the error for now. @l0nax Thank you for your support.

[2022-11-16 11:13] #41 closed